.container__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons {
    border: none;
    color: teal;
    transition: 0.5s;
    background-color: transparent;
    padding: 10px;
}

.buttons:hover {
    color: hsl(180, 100%, 35%);
}

.buttons:disabled{
    color: #ccc;
}
@media (max-width: 767px) {
    .container__buttons {
        grid-template-columns: 1fr;
    }
}